{% extends "authentication/base.html" %}

{% block title %}
<title> Login</title>
{% endblock %}

{% block content %}
<h2 class="text-center"> Login </h2>
<center>
    <form method="POST" class="test">
      {% csrf_token %}
      {% for message in messages %}
     <h5 class="text-center text-danger"> {{message}} </h5>
     {% endfor %}

      <div class="row col-sm-2 mb-4">
        <input type="text" class="form-control" placeholder="Username" id="username" name="username" aria-label="First name">
      </div>
      <div class="row col-sm-2 mb-4">
        <input type="password" class="form-control" placeholder="Password" id="password" name="password" >
      </div>
      <div class="">
        <button type="submit" class="btn btn-primary" method="POST" >Login</button>
        <button class="btn btn-primary"><a style="color:white" href="{% url 'register' %}?next=/">Register</a></button>
      </div>
</form>

</center>
{% endblock %}



